@page "/customgraphs"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using TripCostsManager.Domain.Entities.Entities

@inject RecordsService RecordsService
@inject NavigationManager NavigationManager

@inject IJSRuntime jsRuntime

<PageTitle>Custom Graphs</PageTitle>

<h1>Custom Graphs</h1>

<br />

@foreach (var graph in this.CustomGraphsList)
{
    var customGraphData = this.GetCustomGraphData(graph.Script).Result;

    <h2>@graph.Title</h2>

    if (graph.Type == Domain.Entities.Enums.EGraphType.Colunms)
    {
        var columnName1 = graph.ColumnNames.Split(';')[0];
        var columnName2 = graph.ColumnNames.Split(';')[1];

        <SfChart Title="" Theme="Theme.TailwindDark" Background="Transparent">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime"
                               LabelFormat="dd/MM" IntervalType="IntervalType.Days" Interval="1">
            </ChartPrimaryXAxis>

            <ChartPrimaryYAxis LabelFormat="R$ #,##0.00" Title="Valores em Reais">
            </ChartPrimaryYAxis>

            <ChartSeriesCollection>
                @* First column *@
                <ChartSeries DataSource="@customGraphData" XName="Date" YName="Value1"
                             Name="@columnName1" Type="ChartSeriesType.Column">
                    @* <ChartMarker>
                        <ChartDataLabel Visible="true" />
                    </ChartMarker> *@
                </ChartSeries>

                @* Second column *@
                <ChartSeries DataSource="@customGraphData" XName="Date" YName="Value2"
                             Name="@columnName2" Type="ChartSeriesType.Column">
                </ChartSeries>
            </ChartSeriesCollection>

            <ChartTooltipSettings Enable="true" Shared="false" FadeOutDuration="250">
            </ChartTooltipSettings>

            @* Adiciona legenda para identificar as cores *@
            <ChartLegendSettings Visible="true"></ChartLegendSettings>
        </SfChart>
    }

    if (graph.Type == Domain.Entities.Enums.EGraphType.Pie)
    {
        <SfAccumulationChart Title="" Theme="Theme.TailwindDark" Background="Transparent">
            <AccumulationChartSeriesCollection>
                <AccumulationChartSeries DataSource="@customGraphData"
                                         XName="Name"
                                         YName="Value1"
                                         Name="@graph.Title"
                                         Type="AccumulationType.Pie">
                    @* Configuração para mostrar as etiquetas (labels) dentro da fatia *@
                    <AccumulationDataLabelSettings Visible="true" Name="Value1">
                        <Template>
                            @{
                                var data = context as AccumulationChartDataPointInfo;
                                if (data.Percentage > 15)
                                {
                                    // O Syncfusion entrega o valor em data.Y
                                    <div style="background: #333; color: #fff; padding: 5px; border-radius: 4px; border: 1px solid #777;">
                                        @*@data.X: <b>@Convert.ToDecimal(data.Y).ToString("C2")</b>*@
                                        @Convert.ToDecimal(data.Y).ToString("C2")
                                    </div>
                                }
                            }
                        </Template>
                    </AccumulationDataLabelSettings>
                </AccumulationChartSeries>
            </AccumulationChartSeriesCollection>

            @* Habilita a legenda e o tooltip que você já configurou anteriormente *@
            <AccumulationChartLegendSettings Visible="true" Position="LegendPosition.Bottom" />

            @* Tooltip configurado: ${point.x} traz o nome e :C2 aplica a máscara de moeda *@
            <AccumulationChartTooltipSettings Enable="true" FadeOutDuration="250" Format="${point.x}: <b>R$ ${point.y}</b><br/>Porcentagem: <b>${point.percentage}%</b>">

            </AccumulationChartTooltipSettings>
        </SfAccumulationChart>
    }

    <br/>
}

@* <div style="text-align: right; margin-bottom: .5rem;">
    <TCButton Label="Add record" Type="EButtonType.Primary" OnClick="async () => await OnHandleAddItemTypeClick()"></TCButton>
</div>

<ItemTypesTable DataSource="@this.ItemTypesList" OnClickEdit="@(async (e, r) => await EditItemType(e, r))"></ItemTypesTable>

<EditForm EditContext="ItemTypeModelContext">
    <FluentValidationValidator />
    <ValidationSummary />

    <Modal ExtraClass="red-input-style" @ref="Modal" Title="@(() => { return ItemTypeModel.ItemTypeId > 0 ? "Edit item type" : "Add item type"; })" Buttons="Buttons.SaveCancel" Save="async () => await SaveItemType()">
        <TCInputText Id="Name" Label="Name" @bind-Value="@ItemTypeModel.Name" OnValidation="@(() => ItemTypeModel.Name)" />
    </Modal>
</EditForm>

<EditForm EditContext="AlertModalContext">
    <Modal @ref="ModalAlert" ExtraClass="modal-backgroud" Title="@(() => { return AlertModel.Title; })" Buttons="Buttons.OK">
        <TCText Id="Message" Text="@AlertModel.Message" />
    </Modal>
</EditForm> *@