@page "/customgraphs"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using TripCostsManager.Domain.Entities.Entities

@inject RecordsService RecordsService
@inject NavigationManager NavigationManager

@inject IJSRuntime jsRuntime

<PageTitle>Custom Graphs</PageTitle>

<h1>Custom Graphs</h1>

@foreach (var graph in this.CustomGraphsList)
{
    var customGraphData = this.GetCustomGraphData(graph.Script).Result;

    var columnName1 = graph.ColumnNames.Split(';')[0];
    var columnName2 = graph.ColumnNames.Split(';')[1];

    <h2>@graph.Title</h2>
    <SfChart Title="@graph.Title" Theme="Theme.TailwindDark" Background="Transparent">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime"
                           LabelFormat="dd/MM" IntervalType="IntervalType.Days" Interval="1">
        </ChartPrimaryXAxis>

        <ChartPrimaryYAxis LabelFormat="R$ #,##0.00" Title="Valores em Reais">
        </ChartPrimaryYAxis>

        <ChartSeriesCollection>
            @* First column *@
            <ChartSeries DataSource="@customGraphData" XName="Date" YName="Value1"
                         Name="@columnName1" Type="ChartSeriesType.Column">
                @* <ChartMarker>
                    <ChartDataLabel Visible="true" />
                </ChartMarker> *@
            </ChartSeries>

            @* Second column *@
            <ChartSeries DataSource="@customGraphData" XName="Date" YName="Value2"
                         Name="@columnName2" Type="ChartSeriesType.Column">
            </ChartSeries>
        </ChartSeriesCollection>

        <ChartTooltipSettings Enable="true" Shared="false" FadeOutDuration="250">
            @* <Template>
                @{
                    // O contexto do template é o objeto de dados daquela coluna
                    var data = context as ReportRowModel;
                    <div style="border: 1px solid #ccc; padding: 10px; background: #fff; border-radius: 5px;">
                        <div style="font-weight: bold; border-bottom: 1px solid #eee; margin-bottom: 5px;">
                            Data: @data.Date.ToString("dd/MM/yyyy")
                        </div>
                        <div>
                            <span style="color: #007bff;">Faturamento:</span>
                            <strong>R$ @data.Value1.ToString("N2")</strong>
                        </div>
                    </div>
                }
            </Template> *@
        </ChartTooltipSettings>

        @* Adiciona legenda para identificar as cores *@
        <ChartLegendSettings Visible="true"></ChartLegendSettings>
    </SfChart>

    <br/>
}

@* <div style="text-align: right; margin-bottom: .5rem;">
    <TCButton Label="Add record" Type="EButtonType.Primary" OnClick="async () => await OnHandleAddItemTypeClick()"></TCButton>
</div>

<ItemTypesTable DataSource="@this.ItemTypesList" OnClickEdit="@(async (e, r) => await EditItemType(e, r))"></ItemTypesTable>

<EditForm EditContext="ItemTypeModelContext">
    <FluentValidationValidator />
    <ValidationSummary />

    <Modal ExtraClass="red-input-style" @ref="Modal" Title="@(() => { return ItemTypeModel.ItemTypeId > 0 ? "Edit item type" : "Add item type"; })" Buttons="Buttons.SaveCancel" Save="async () => await SaveItemType()">
        <TCInputText Id="Name" Label="Name" @bind-Value="@ItemTypeModel.Name" OnValidation="@(() => ItemTypeModel.Name)" />
    </Modal>
</EditForm>

<EditForm EditContext="AlertModalContext">
    <Modal @ref="ModalAlert" ExtraClass="modal-backgroud" Title="@(() => { return AlertModel.Title; })" Buttons="Buttons.OK">
        <TCText Id="Message" Text="@AlertModel.Message" />
    </Modal>
</EditForm> *@