@page "/"

@inject RecordsService RecordsService
@inject ItemTypesService ItemTypesService
@inject NavigationManager NavigationManager

@inject IJSRuntime jsRuntime

<PageTitle>List of trip costs</PageTitle>

<h1>List of trip costs</h1>

<div style="text-align: right; margin-bottom: .5rem;">
    @* <a class="btn btn-default float-left" @onmouseup="(e) => OnHandleAddRecordClick(e)" @onmousedown="(e) => OnHandleAddRecordClick(e)" @onclick="(e) => OnHandleAddRecordClick(e)">Add record</a> *@
    <TCButton Label="Add record" Type="EButtonType.Primary" OnClick="async () => await OnHandleAddRecordClick()"></TCButton>
</div>

<RecordsTable DataSource="@this.RecordsList" OnClickEdit="@(async (e, r) => await EditRecord(e, r))" OnClickDelete="@(async (e, r) => await RequestDeleteRecord(e, r))"></RecordsTable>

<EditForm EditContext="RecordModelContext">
    <FluentValidationValidator />
    <ValidationSummary />

    <Modal ExtraClass="red-input-style" @ref="Modal" Title="@(() => { return RecordModel.RecordId > 0 ? "Edit record" : "Add record"; })" Buttons="Buttons.SaveCancel" Save="async () => await SaveRecord()">
        <TCInputText Id="MarketName" Label="Market" @bind-Value="@RecordModel.MarketName" OnValidation="@(() => RecordModel.MarketName)" />
        <TCInputText Id="Title" Label="Title" @bind-Value="@RecordModel.Title" OnValidation="@(() => RecordModel.Title)" />
        <TCInputText Id="Description" Label="Description" @bind-Value="@RecordModel.Description" OnValidation="@(() => RecordModel.Description)" />
        <TCInputSelect Id="Purpose" Label="Purpose" @bind-Value="@RecordModel.Purpose" Selected="RecordModel.Purpose" />
        <TCInputText Id="Price" Label="Price" @bind-Value="@RecordModel.Price" OnValidation="@(() => RecordModel.Price)" />
        <TCInputText Id="DateTime" Label="Date and time" @bind-Value="@RecordModel.DateTime" OnValidation="@(() => RecordModel.DateTime)" />

        <div class="form-group">
            <div class="form-inline">
                <label class="col-form-label">Type</label>
            </div>
            <BlazoredTypeahead SearchMethod="SearchItemType" MinimumLength="2" MaximumSuggestions="100" EnableDropDown="true" @bind-Value="RecordModel.ItemType" placeholder="Name">
                <SelectedTemplate Context="bindItemTypeContext">
                    @bindItemTypeContext?.Name
                </SelectedTemplate>
                <ResultTemplate Context="bindItemTypeContext">
                    @bindItemTypeContext.Name
                </ResultTemplate>
            </BlazoredTypeahead>
        </div>
        @* <TCInputText Id="FileName" Label="Imagem" @bind-Value="@RecordModel.Image" OnValidation="@(() => RecordModel.Image)" /> *@

        @*  <div class="form-group form-inline">
            <GVCheckBox Id="Interested" Label="Interessante" @bind-Value="@RecordModel.Interested" ExtraClass="col-6" />
            <GVCheckBox Id="Ignored" Label="Ignorado" @bind-Value="@RecordModel.Ignored" ExtraClass="col-6" />
        </div> *@
    </Modal>
</EditForm>

<EditForm EditContext="AlertModalContext">
    <Modal @ref="ModalAlert" ExtraClass="modal-backgroud" Title="@(() => { return AlertModel.Title; })" Buttons="Buttons.OK">
        <TCText Id="Message" Text="@AlertModel.Message" />
    </Modal>
</EditForm>

<EditForm EditContext="RecordModelContext">
    <Modal @ref="ModalDelete" Title="@(() => { return "Are you sure you want to delete the record?"; })" Buttons="Buttons.YesNo" Save="async () => await DeleteRecord()">
    </Modal>
</EditForm>