@page "/"
@page "/records"

@inject RecordsService RecordsService
@inject ItemTypesService ItemTypesService
@inject CurrenciesService CurrenciesService
@inject NavigationManager NavigationManager

@inject IJSRuntime jsRuntime

<PageTitle>List of trip costs</PageTitle>

<h1 @ref="titleRef">List of trip costs</h1>

<div style="text-align: right; margin-bottom: .5rem;">
    @* <a class="btn btn-default float-left" @onmouseup="(e) => OnHandleAddRecordClick(e)" @onmousedown="(e) => OnHandleAddRecordClick(e)" @onclick="(e) => OnHandleAddRecordClick(e)">Add record</a> *@
    <TCButton Label="Add record" Type="EButtonType.Primary" OnClick="async () => await OnHandleAddRecordClick()"></TCButton>
</div>

<RecordsTable DataSource="@this.RecordsList" OnClickEdit="@(async (e, r) => await EditRecord(e, r))" OnClickDelete="@(async (e, r) => await RequestDeleteRecord(e, r))"></RecordsTable>

<TCButton Label="Go to Top" ExtraClass="btn-gototop" Type="EButtonType.Default" OnClick="async () => await OnHandleGoToTopClick()"></TCButton>

<EditForm EditContext="RecordModelContext">
    <FluentValidationValidator />

    <Modal ExtraClass="red-input-style" @ref="Modal" Title="@(() => { return RecordModel.RecordId > 0 ? "Edit record" : "Add record"; })" Buttons="Buttons.SaveCancel" Save="async () => await SaveRecord()">
        <TCInputText Id="MarketName" Label="Market" @bind-Value="@RecordModel.MarketName" OnValidation="@(() => RecordModel.MarketName)" />
        <TCInputText Id="Title" Label="Title" @bind-Value="@RecordModel.Title" OnValidation="@(() => RecordModel.Title)" />
        <TCInputText Id="Description" Label="Description" @bind-Value="@RecordModel.Description" OnValidation="@(() => RecordModel.Description)" />
        <TCInputSelect Id="Purpose" Label="Purpose" @bind-Value="@RecordModel.Purpose" Selected="RecordModel.Purpose" />
        <div class="form-group">
            <div class="form-inline">
                <label class="col-form-label">Currency</label>
            </div>
            <BlazoredTypeahead SearchMethod="SearchCurrency"
                               MinimumLength="2"
                               MaximumSuggestions="100"
                               EnableDropDown="true"
                               @bind-Value="RecordModel.Currency"
                               placeholder="Select the currency...">
                <SelectedTemplate Context="selectedCurrency">
                    @selectedCurrency?.Name
                </SelectedTemplate>
                <ResultTemplate Context="resultCurrency">
                    @resultCurrency.Name
                </ResultTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => RecordModel.Currency)" />
        </div>
        <TCInputText Id="Price" Label="Price" @bind-Value="@RecordModel.Price" OnValidation="@(() => RecordModel.Price)" />
        <TCInputText Id="DateTime" Label="Date and time" @bind-Value="@RecordModel.DateTime" OnValidation="@(() => RecordModel.DateTime)" />

        <div class="form-group">
            <div class="form-inline">
                <label class="col-form-label">Type</label>
            </div>
            <BlazoredTypeahead SearchMethod="SearchItemType"
                               MinimumLength="2"
                               MaximumSuggestions="100"
                               EnableDropDown="true"
                               @bind-Value="RecordModel.ItemType"
                               placeholder="Select the item type">
                <SelectedTemplate Context="selectedItemType">
                    @selectedItemType?.Name
                </SelectedTemplate>
                <ResultTemplate Context="resultItemType">
                    @resultItemType.Name
                </ResultTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => RecordModel.ItemType)" />
        </div>
    </Modal>
</EditForm>

<EditForm EditContext="AlertModalContext">
    <Modal @ref="ModalAlert" ExtraClass="modal-backgroud" Title="@(() => { return AlertModel.Title; })" Buttons="Buttons.OK">
        <TCText Id="Message" Text="@AlertModel.Message" />
    </Modal>
</EditForm>

<EditForm EditContext="RecordModelContext">
    <Modal @ref="ModalDelete" Title="@(() => { return "Are you sure you want to delete the record?"; })" Buttons="Buttons.YesNo" Save="async () => await DeleteRecord()">
    </Modal>
</EditForm>