<table class="table table-hover home-news-list news-list">
    <thead>
        <tr>
            <td><b>Market</b></td>
            <td><b>Title</b></td>
            <td><b>Description</b></td>
            <td><b>Price</b></td>
            <td><b>Date</b></td>
            <td style="max-width: 50px;"></td>
        </tr>
    </thead>
    @foreach (var t in this.DataSource)
    {
        <tbody>
            <tr>
                <td>@t.MarketName</td>
                <td>@t.Title</td>
                <td>@t.Description</td>
                <td style="text-align: right;">@t.Price</td>
                <td>@t.DateTime.ToString("dd/MM/yyyy HH:mm")</td>
                <td style="max-width: 50px;"><span class="oi oi-pencil" style="cursor: pointer;" aria-hidden="true" @onclick="(e) => this.OnClickEdit(e, t)"></span></td>
            </tr>
        </tbody>
    }
</table>